# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace
bin/
pkg/
vendor/

# Go modules
go.sum
go.mod

# IDE/editor directories and files
.vscode/
.idea/
*.swp
*.swo
*.swn
*~

# Logs
*.log

# Dependency directories
node_modules/

# env file
.env