{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>
<body class="bg-gray-100">
    <div class="flex h-screen overflow-hidden">
        <!-- Sidebar -->
        <div class="w-64 bg-blue-800 text-white flex flex-col">
            <div class="p-4">
                <h1 class="text-2xl font-bold">Consultant Management</h1>
            </div>
            <nav class="mt-10 flex-grow">
                <a href="/dashboard" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700">Dashboard</a>
                {{ if .IsAuthenticatedKey }}
                <a href="/consultants" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700">Consultants</a>
                <a href="/report" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700">Reports</a>
                <a href="/tasks" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700">Tasks</a>
                <a href="/offices" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700">Offices</a>
                {{ end }}
            </nav>
            <div>
                {{ if .IsAuthenticatedKey }}
                <a href="/logout" class="block py-2.5 px-4 transition duration-200 bg-red-500 hover:bg-red-700 text-white">Logout</a>
                {{ else }}
                <a href="/register" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-blue-700">Register</a>
                <a href="/login" class="block py-2.5 px-4 transition duration-200 bg-green-700 hover:bg-green-700">Login</a>
                {{ end }}
            </div>
        </div>

        <!-- Main Content -->
        <div class="flex-1 flex flex-col overflow-hidden">
            <!-- Banner -->
            <div class="bg-blue-600 text-white p-4">
                <h2 class="text-xl font-semibold">Welcome to the Consultant Management System</h2>
            </div>

            <!-- Content -->
            <div class="container mx-auto mt-10 p-4 flex-grow overflow-y-auto">
                {{ block "content" . }}{{ end }}
            </div>
        </div>
    </div>
</body>
</html>
{{ end }}