{{ define "content" }}
<h1 class="text-2xl font-bold mb-5">Dashboard</h1>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-5">
    <div class="card bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-lg font-semibold">Consultants</h2>
        <p>Number of Consultants: {{ .NumConsultants }}</p>
    </div>
    <div class="card bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-lg font-semibold">Tasks</h2>
        <p>Number of Tasks: {{ .NumTasks }}</p>
    </div>
    <div class="card bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-lg font-semibold">Reports</h2>
        <p>Generate reports here.</p>
    </div>
</div>
{{ end }}