{{ define "content" }}
<h1 class="text-2xl font-bold mb-5">Login</h1>
{{ if .ErrorMessage }}
<div class="bg-red-500 text-white p-4 rounded mb-4">
    {{ .ErrorMessage }}
</div>
{{ end }}
<form action="/login" method="POST">
    <div class="mb-4">
        <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
        <input type="text" name="username" id="username" class="mt-1 block w-full" required>
    </div>
    <div class="mb-4">
        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
        <input type="password" name="password" id="password" class="mt-1 block w-full" required>
    </div>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Login</button>
</form>
{{ end }}